<div class="tab-content">
    <div class="tab-pan fade show active">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-outline mb-4">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="form-outline mb-4">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

            <% if devise_mapping.rememberable? %>
                <div class="row-mb-4">
                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="form-check mb-3 mb-md-0">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                        </div>
                    </div>
                </div>
            <% end %>

            <div class="actions">
                <%= f.submit "Log in" %>
            </div>
        <% end %>
    </div>
</div>