<div>
  <div id="post-display">
    <% @posts.each do |post| %>
        <div class="container mt-5 mb-5">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow p-3 rounded">
                        <div class="d-flex justify-content-between p-2">
                            <div class="d-flex flex-row align-items-center"> <%= image_tag("profile-pic.jpg", width: "40em", height: "40em", class: "me-1 rounded-circle") %>
                                <div class="d-flex flex-column ml-2"> <span class="font-weight-bold"><%= post.user.name %></span></div>
                            </div>
                            <div class="d-flex flex-row mt-1"> <small class="mr-2"><%= time_ago_in_words(post.created_at) %> ago </small> <i class="bi bi-three-dots"></i> </div>
                        </div>
                        <div class="p-2">
                            <p class="text-justify"><%= post.body %></p>
                            <hr>
                            <!-- LIKE/DISLIKE -->
                            <div class="d-flex justify-content-between align-items-center">
                                <%= form_with model: @like, url: post_likes_path(post), method: "post" do |f| %>
                                    <%= f.hidden_field :status, value: true %>
                                    <%= f.submit "LIKE", class: "bi bi-hand-thumbs-up me-1" %>
                                    <small class="me-2"> <%= post.like_count %> </small>
                                <% end %>

                                <%= form_with(url: post_likes_path(post), remote: true) do |f| %>
                                    <%= f.hidden_field :post_id, value: post.id %>
                                    <%= f.hidden_field :status, value: false %>
                                    <button type="submit" class="bi bi-hand-thumbs-down me-1"></button>
                                    <small> <%= post.dislike_count %> </small>
                                    <% end %>
                                <div class="d-flex flex-row muted-color"> <span><%= post.comments.size %> comments</span> </div>
                            </div>
                            <hr>
                            <div class="comments">
                                <% post.comments.each do |comment| %>
                                    <div class="d-flex flex-row mb-2"> <!-- IMAGE HERE -->
                                        <div class="d-flex flex-column ml-2"> 
                                            <span class="name"><%= comment.creator %></span> 
                                            <small class="comment-text"><%= comment.body %></small>
                                            <div class="d-flex flex-row align-items-center status"><small><%= time_ago_in_words(comment.created_at) %> ago</small> </div>
                                        </div>
                                    </div>
                                <% end %>
                                <div class="comment-input">
                                    <%= form_with model: @comment, url: post_comments_path(post), method: "post" do |f| %>
                                        <div>
                                            <%= f.text_field :body, class: "form-control"%>
                                        </div>
                                        <div>
                                            <%= f.submit "Comment", class: "btn btn-primary mt-2" %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
  </div>
  <div id="post-form">
    <%= form_with model: @post do |f| %>
        <div class="field has-addons">
            <div class="control">
                <%= f.text_field :body, id: 'post-input', class: 'input' %>
            </div>
            <div class="control">
                <%= f.submit 'Send Message', class: 'button is-primary' %>
            </div>
        </div>
    <% end %>
  </div>
</div>
