<div class="container-fluid px-0">
    <div class="row">
        <div class="col mt-5" id="friend-display">
            <%= render "friends/sidebar", collection: @friends %>
        </div>

        <div class="col-6"id="post-display">
            <% @posts.includes(:likes, :user).each do |post| %>
                <%= render "post", locals: { post: post, likes: post.likes } %>
            <% end %>
        </div>

        <div class="col">
        </div>
    </div>

</div>
<div id="post-form">
    <%= form_with model: @post do |f| %>
        <div class="field has-addons">
            <div class="control">
                <%= f.text_field :body, id: 'post-input', class: 'input' %>
            </div>
            <div class="control">
                <%= f.submit 'Send Message', class: 'button is-primary' %>
            </div>
        </div>
    <% end %>
</div>
