
<div class="container-fluid px-0">
    <div class="row">
        <!-- Friend sidebar -->
        <div class="col mt-5" id="friend-display">
            <%= render "friends/sidebar", collection: @friends %>
        </div>

        <div class="col-6" data-controller="new-posts">
            <div class="fixed-button" id="new-button">
                <button class="new-posts-button hidden" data-new-posts-target="newPostsButton" data-action="click->new-posts#showNewPosts">New Posts</button>
            </div>
            <!--Post form -->
            <%= render partial: "form", locals: {post: @post } %>

            <div id="post-display" data-new-posts-target="postDisplay">
                <!-- Posts created after page load sit in new-post-->
                <div id="new-posts" class="hidden" data-new-posts-target="newPosts">
                </div>
                <!-- Posts created before page load go in post-display -->
                <% @posts.includes(:comments, :likes, :user).each do |post| %>
                    <%= render partial: "post", locals: { comments: post.comments, post: post, likes: post.likes } %>
                <% end %>
            </div>

            <div id="pagination"
                 data-controller="pagination"
                 data-pagination-url-value="<%= posts_url %> "
                 data-pagination-page-value="<%= 2 %>">
            </div>
        </div>

        <div class="col mt-5">
            <div class="fixed-button" id="move-top" data-controller="button">
                <button class="move-top-button hidden" data-button-target="moveTopButton" data-action="click->button#moveUserToTop">Go Back Top</button>
            </button>
        </div>
    </div>

</div>

