<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
            <i class="bi bi-facebook nav-link"></i>  
        </li>
        <li>
            <%= link_to "Home", root_url, class: "nav-link" %>
        </li>
    </ul>
    <ul class="navbar-nav" data-controller="toggle">




        <li class="nav-item dropdown me-2 mt-1"> <!-- friend requests -->
            <%= content_tag(:i, nil,
                            "data-action" => "click->toggle#displayFriendRequestsDropdown",
                            class: "bi bi-people-fill")
            %>
            <div class="dropdown-menu" data-toggle-target="friendRequestsDropdown">
                <% current_user.received_friend_requests.where(status: :pending).limit(4).each do |item| %>
                    <div><%= User.find(item.sender_id).name %></div>
                <% end %>
                <div> <%= link_to "See all", user_friend_requests_path(current_user) %> </div>
            <div>
        </li>




        <li class="nav-item dropdown">
            <%= content_tag(:img, nil, 
                            src: image_path("profile-pic.jpg"),
                            "data-action" => "click->toggle#displayProfileDropdown", 
                            style: "height:2em;width:2em",
                            class: "rounded-circle me-2") 
            %>
            <div class="dropdown-menu" data-toggle-target="profileDropdown">
                <%= link_to "Log-out", destroy_user_session_path, class: "dropdown-item", data: { "turbo-method": :delete } %>
            </div> 
        </li>
    </ul>
</nav>